.float-button {
    width: 80px;
    height: 80px;
    background-color: #06A99C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 2%;
    bottom: 6%;
    transition: background 0.05s;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.float-button:active {
    background-color: cadetblue;
}

#btn-card-deck-close {
    display: none;
}

#btn-card-deck-redo {
    display: none;
}

#deck-overlay {
    position: fixed; /* Sit on top of the page content */
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}

.card-overlay {
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.card-modal {
    background-color: #dde2eb;
    min-width: 30%;
    min-height: 10%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.card-deck-board {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 100vh;
}

.card-deck-header {
    text-align: center;
    color: white;
    min-width: 25vw;
}

#deck-overlay-single {
    visibility: hidden !important;
}


