.flex {
    display: flex;
    flex-direction: Row;
}

.fadeOut {
    border: none;
    transition: border 0.2s;
}

.fadeIn {
    border: 7px solid;
    border-radius: 25px;
    transition: border 0.2s;
}

.color, .card {
    font-size: 12px;
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
    width: 98%;
    border-radius: 15px;
    cursor: grab;
    background: #ededed;
}

.card-head {
    padding: 7px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-head-text {
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    margin: 0 0 0 26px;
}

.card-foot {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.card-zoom {
    background: none;
    border: none;
    float: left;
    color: white;
    margin: 5px 0 0 -20px;
    cursor: pointer;
}

.card-zoom-popup {
    color: black;
    font-size: 30px;
}

.fa-sticky-note {
    float: right;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.card-count-border {
    flex-direction: row;
    display: flex;
    margin: auto;
}

.card-count-number {
    padding: 8px;
    border-radius: 5px;
}

.card-count {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.1rem;
}