.footer {
    color: #06A99C;
    background: rgb(23, 32, 42);
    text-align: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.cc-license {
    margin-left: 1%;
    color: #06A99C;
}

.xebia {
    margin-right: 1%;
}

.div {
    margin: -13px;
}


