body {
    background-color: #31172e;
    margin-bottom: 1%;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.purple-background {
    height: 100%;
    background: #31172e;
    background: -webkit-linear-gradient(to bottom, #6c1d5f, #31172e);
    background: linear-gradient(to bottom, #6c1d5f, #31172e);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

*[tabindex] {
    outline: none;
}



