.single-column-header {
    text-align: center;
    color: white;
    border-width: 1px;
    border-color: transparent;
    margin: 1px;
    border-radius: 4px;
}

.card-header-custom {
    display: flex;
    flex-direction: row;
}

.single-column-head {
    text-align: center;
    color: white;
    width: 20%;
    margin: 0.30%;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.margin-left{
    margin-left: 25px;
}

.margin-right{
    margin-right: 25px;
}

.column-heads {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: transparent;
    min-height: 10vh;
}

.single-column-head-background {
    background: #17202A;
}

.single-column-head-text {
    color: white;
    font-size: 20px;
    background: #17202A;
    border: none;
    text-align: center;
}


textarea.single-column-head-text {
    width: 98%;
    overflow: auto;
    font-size: 16px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
}

textarea.single-column-head-text::placeholder {
    font-size: 19px;
    color: gray;
}

.header{
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}