﻿a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 16px;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.rowC {
    display: flex;
    flex-direction: row;
}

.nav-icon {
    margin: 5px;
}

.nav-icon:hover {
    cursor: pointer;
}
