.note-modal {
    background-color: #dde2eb;
    min-width: 30%;
    min-height: 25%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.note-header {
    color: black;
    border-bottom: solid;
    border-width: 1px;
    text-align: center;
}

.btn-note {
    color: black;
    display: flex;
    cursor: pointer;
    justify-content: center;
    font-size: 18px;
}

.btn-note-save {
    margin-left: 30px;
    padding-bottom: 5px;
}

.btn-note-remove {
    margin-right: 30px;
    padding-bottom: 5px;
}

.note-textarea {
    width: 95%;
    margin-left: 2%;
}

.note-overlay {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
