#persona-img-container {
    padding-left: 4%;
    padding-top: 1%;
}

#persona-img {
    max-height: 200px;
    max-width: 200px;
}

#persona-content {
    width: 60%;
    resize: vertical;
    background: rgb(23, 32, 42);
    text-align: center;
    color: white;
    border-radius: 5px;
    border-color: rgb(23, 32, 42);
    font-size: 14px;
}

.btn-add-persona {
    color: #13a880;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}