[id^=slice-part] {
    width: 20%;
}

#slice-parent {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    margin: 20px;
    overflow: auto;
}

textarea.slice-name {
    font-size: 16px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-color: rgb(19, 23, 31);
    border-width: 1px 2px 3px 1px;
}

.slice-name {
    width: 20%;
    background: rgb(23, 32, 42);
    text-align: center;
    max-height: 325px;
    color: white;
    border-radius: 5px;
}

.slice-goal {
    width: 20%;
    background: rgb(23, 32, 42);
    text-align: center;
    font-size: 20px;
    max-height: 325px;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

textarea.slice-goal {
    overflow: auto;
    font-size: 16px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-color: rgb(19, 23, 31);
    border-width: 1px 2px 3px 1px;
}

textarea.slice-name::placeholder {
    font-size: 20px;
    color: gray;

}

textarea.slice-goal::placeholder {
    font-size: 20px;
    color: gray;
}

input:focus::placeholder {
    color: transparent;
}

.slice {
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;
}

.story-points-slice {
    color: #06A99C;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    padding: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.collapse-slice {
    max-width: 30px;
    background: none;
    color: #13a880;
    border: none;
    float: right;
}

.folded-slice {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 20px
}


.slice-info {
    display: block;
}

.folded-card-name {
    display: block;
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
}

.slice-menu-holder {
    width: 100%;
    margin-bottom: 2em;
}

.storypoints-holder {
    float: right;
    margin-left: 5px;
    font-size: 18px;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 5px;
}


[contenteditable="true"].single-line {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

[contenteditable="true"].single-line br {
    display: none;
}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

.btn-add-slice {
    color: #13a880;
    background: none;
    border: none;
    margin: 20px 0 20px 20px;
    cursor: pointer;
}