.timer {
    font-size: 60px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.btn-add-minute {
    cursor: pointer;
    margin-top: 10%;
    color: #06A99C;
}

.timer-container {
    float: right;
    display: flex;
    margin-right: 5%;
}